/* Параметры для экранов меньше 1024px */
@media (max-width: 1024px) {
	.programs {
		.programs__body {
			.programs__grid {
				grid-template-columns: 1fr 1fr;
			}
		}	
	}

	.teachers {
		.teachers__body {
			.teachers__grid {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}

/* Параметры для экранов меньше 768px */
@media (max-width: 768px) {

	body.lock {
		overflow: hidden;
	}

	.header {
		padding: 20px 0;

		.header__row {
			height: 30px;
		}
		.header__burger {
			display: block;
			position: relative;
			width: 36px;
			height: 23px;
			z-index: 3;
		}
		.header__burger span {
			position: absolute;
			background-color: #fff;
			left: 0;
			width: 100%;
			height: 3px;
			top: 10px;
			transition: all 0.3s ease 0s;
		}

		.header__burger:before,
		.header__burger:after {
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 3px;
			transition: all 0.3s ease 0s;
		}
		.header__burger:before {
			top: 0;
		}
		.header__burger:after {
			bottom: 0;
		}

		.header__burger.active:before {
			transform: rotate(45deg);
			top: 10px;
			background-color: #292929;
		}

		.header__burger.active:after {
			transform: rotate(-45deg);
			bottom: 10px;
			background-color: #292929;
		}

		.header__burger.active span {
			transform: scale(0);
			background-color: #292929;
		}

		.header__img {
			flex: 0 1 20px;
		}

		.header__name {
			font-size: 20px;
		}

		.header__body {
			.header__menu {
				position: fixed;
				overflow: auto;
				top: -100%;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				color: #292929;
				padding: 120px 20px 30px 20px;
				transition: all 0.3s ease 0s;

				.header__list {
					display: flex;
					flex-direction: column;
					font-size: 20px;
					align-items: start;
				}

				.header__list li {
					margin: 0px 0px 60px 0px;
				}

				.header__link a {
					color: #292929!important;
				}

				.header__contact a {
					color: #292929!important;
					border-color: #292929!important;
				}

			}

			.header__menu.active {
				top: 0;
			}	
		}
		
	}

	/* меню при прокрутке */

	.header.bg {
		.header__burger:before,
		.header__burger:after, .header__burger span {
			background-color: #292929;
		}
	}
}

/* Параметры для экранов меньше 426px */
@media (max-width: 426px) {
	.cta {
		.cta__body {
			.cta__title {
				font-size: 32px;
				line-height: 36px;
			}
			.cta__subtitle {
				font-size: 18px;
			}
		}
		.cta__bg {
			display: none;
		}
	}

	.welcome {
		.welcome__body {
			.welcome__supertitle {
				font-size: 26px;
			}
			.welcome__subtitle {
				width: 100%;
			}
		}
	}

	.why {
		.why__body {
			.why__title {
				font-size: 26px;
			}
			.why__subtitle {
				font-size: 16px;
			}

			.why__row {
				width: 100%;
			}
		}
	}

	.programs {
		.programs__body {
			.programs__title {
				font-size: 26px;
				line-height: 30px;
				margin: 0 0 10px 0;
			}
			.programs__subtitle {
				font-size: 16px;
			}
			.programs__grid {
				grid-template-columns: 1fr;
			}
		}
	}

	.teachers {
		.teachers__body {
			.teachers__title {
				font-size: 26px;
			}
			.teachers__subtitle {
				font-size: 16px;
			}
			.teachers__grid {
				grid-template-columns: 1fr;
			}
		}
	}

	.rules {
		.rules__body {
			.rules__title {
				font-size: 26px;
				line-height: 30px;
			}
		}
	}

	.form {
		.form__body {
			.form__title {
				font-size: 26px;
			}
			.form__subtitle {
				font-size: 16px;
			}
		}
	}
}