@use 'sass:map';

$breakpoints: (
        "xs": 320px,
        "sm": 576px,
        "md": 768px,
        "lg": 992px,
        "xl": 1200px,
        "xxl": 1400px
);

@function bp($key) {
  @return map.get($breakpoints, $key);
}

@mixin max($size) {
  @media (max-width: bp($size)) {
    @content;
  }
}