$container-width: 1280px;

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Unbounded', sans-serif;

$bg-color: #1B1B1B;

$text-color-primary: #FFFFFF;
$text-color-secondary: #353535;

$black: #000000;
$white: #FFFFFF;
$accent: #A6FF16;
$gray: #2D2D2D;
$gray-light: #868686;
$gray-dark: #272727;
$border-color: #4D4D4D;
$border-menu-color: #707070;

$shadow: 0 0 12px 4px rgba($accent, 0.6);