@use "null";
@use 'variables';
@use 'mixins';

body {
  font-size: 16px;
  font-family: variables.$font-family-primary;
  background-color: variables.$bg-color;
  color: variables.$text-color-primary;
  margin: 0;
}