@use "null";
@use 'variables';
@use 'mixins';
@use 'media' as media;

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: variables.$font-family-primary;
  background-color: variables.$bg-color;
  color: variables.$text-color-primary;
  margin: 0;
}