@use "null";
@use 'variables';
@use 'mixins';
@use 'media' as media;

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: variables.$font-family-primary;
  background-color: variables.$bg-color;
  color: variables.$text-color-primary;
  margin: 0;
}

.container {
  max-width: variables.$container-width;
  padding: 0 40px;
  margin: 0 auto;

  @include media.max('sm') {
    padding: 0 20px;
  }
}