name: Deploy to Jino
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: yarn install

      - name: Build static site
        run: yarn generate

      - name: Upload to Jino via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: j99832877.myjino.ru
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: dist/
          server-dir: /
